#left
%p
  Kanban Assist is an interactive educational decision support system designed to aid you in identifying Ideal Reorder point and Parlevel for a particular demand.
=image_tag('inventory-graph-points.png')
