<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Play</a></li>
        <li><a href="#tabs-2">Play History</a></li>
        <li><a href="#tabs-3">Settings</a></li>
        <li><a href="#tabs-4">Items</a></li>
        <li><a href="#tabs-5">Demand</a></li>
    </ul>
    <div id="tabs-1">Play will come here</div>
    <div id="tabs-2">Play History will come here</div>
    <div id="tabs-3">Settings come here</div>
    <div id="tabs-4">Items will come here</div>
    <div id="tabs-5">Demand will come here</div>
</div>


