
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Play</a></li>
        <li><a href="#tabs-2">Play History</a></li>
        <li><a href="#tabs-3">Settings</a></li>
        <li><a href="#tabs-4" id="itemsTab">Items</a></li>
        <li><a href="#tabs-5">Demand</a></li>
    </ul>
  <div id="tabs-4">
        <%= render :partial => 'user_group_item/displayitems' %>
    </div>

  <div id="tabs-1">
      <%= render :partial =>"play/play" %>
    </div>
    <div id="tabs-2"></div>
    <div id="tabs-3"></div>


    <div id="tabs-5"></div>
</div>


