!!! Strict
/ ==========================================================
/ Created by Devit Schizoper
/ Created HomePages http://LoadFoo.starzonewebhost.com
/ Created Day 01.12.2006
/ ==========================================================
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Kanban Assist Beta v2
    =stylesheet_link_tag 'style.css','jquery-ui-1.8.16.custom.css'
    =javascript_include_tag 'jquery-1.7.1.min.js',
    'jquery-ui-1.8.16.custom.min.js',
    'jquery.sizes.js',
    'jlayout.grid.js',
    'jlayout.flexgrid.js',
    'jlayout.flow.js',
    'application.js',
    'jquery.jlayout.js'
    =yield(:head)



  %body
    #wrapper
      #top
        %h2
          %a{:href => "#", :title => "Back to main page"} Kanban Assist - Beta v0.1
        #menu
          %ul
            %li
              %a{:href => "/"} Home
            %li
              %a{:href => "/kbadmin"} Admin
            %li
              %a{:href => "#"} Contact 
            %li
              = render 'devise/menu/login_items'
      #content
        =yield
      #clear
      #footer
        %p
          Industrial Extension Services, NCSU

